.overzicht {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 2rem;
    padding: 1rem;
    background: var(--calc-bg);
    border-radius: var(--radius);
}
.overzicht-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(221, 221, 221, 0.205);
}
.overzicht-header h2 {
    /*padding-bottom: 1rem;*/
    /*border-bottom: 1px solid rgba(221, 221, 221, 0.205);*/
    color: var(--accent);
}
.overzicht .overzicht-header span {
    font-family: var(--font-mono);
    font-size: 0.9rem;
    color: #ccc;
}
.overzicht-inhoud {
    margin-top: 1rem;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    gap: .5rem;
}

.overzicht-inhoud > * {
    flex: 1;
}
.sectie-header span {
    font-family: var(--font-mono);
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--accent);
    padding-left: 0.5rem;
}
.sectie-header p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
    /*color: var(--accent);*/
}
.sectie-wrapper {
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 1rem;
}
.overzicht p {
    margin: .5rem 0;
    font-size: 1rem;
}
.overzicht span {
    font-family:var(--font-mono);
    margin-left: 0.5rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--accent);
}

.top-sectie {
    margin-bottom: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    /*gap: .5rem;*/
}
.datum-sectie {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    margin-bottom: 1rem;
}
.start-datum-sectie, .eind-datum-sectie {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.kies-datum {
    display: flex;
    flex-direction: row;
    /*font-size: 1.3rem;*/
    /*font-weight: bold;*/
    color: var(--accent);
}
.datum-status {
    border: 1px solid rgba(139, 139, 139, 0.685);
    background-color: rgba(110, 110, 110, 0.251);
}
.uitleg-tekst {
    margin: 0;
    font-size: 0.9rem;
    color: #ffffff;
}
.kapitaal-groep, .rente-groep {
    display: flex;
    width: 100%;
    flex-direction: column  ;
    gap: 1.5rem;
    padding: 1rem;
    background: var(--calc-bg);
    border-radius: var(--radius);
}

