.keuze-container {
    margin: 1.5rem 0px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.keuze-container h2 {
    margin: 0;
    font-family: var(--font-sans);
    font-size: 1.4rem;
}
.radio-keuze {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.radio-keuze label {
    font-family: var(--font-mono);
    font-size: 1rem;
    color: #e4e4e4;
}
.radio-keuze input {
    width: auto;
    margin-right: 10px;
}